@media only screen and (max-width: 1000px){
   
    body{
        width: 100%;
        font-size: 24px;
    }
    header{
        height: 30vh;
        width: 100%;
        flex-direction: row;
        top:0px;
        display: flex;
        position: relative;
    }
    .logo_img{
        width: 100%;
        height: 100%;
    }
    .img_b
    {
        display: none;
    }
    header .left{
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content:right;
        align-items: center;
    }
    header nav{
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top:-280px;
    left:0;
    background-color: aqua;
    z-index:2;
    transition: .4s ease-in;
}
.nav_on{
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:0;
    background-color: aqua;
    z-index:2;
    transition: ease-in .4s;
}

header nav a:hover{
    font-size: 16px;
}
header nav a {
    width: 150px;
    font-size: 15px;
    height: 30px;
    padding: 5px;
    color: black;
    margin: 5px auto;
    text-decoration: none;
    border: black 1px solid ;
}
.burger_btn{
    width: 50px;
    height: 50px;
    border: black 1px solid;
    border-radius: 5px;
    position: absolute;
    top:10px;
    right: 10px;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.burger_barA,
.burger_barB,
.burger_barC{
    width: 90%;
    height: 10%;
    background-color: black;
    border-radius: 5px;
    transition: ease-in .4s;
}
.burger_barA_On{
    width: 90%;
    height: 10%;
    background-color:black;
    border-radius: 5px;
    transform: translateY(16px) rotate(45deg);
    transition: .4s ease-in;
}
.burger_barB_On{
    width: 90%;
    height: 10%;
    background-color:transparent;
    border-radius: 5px;
    transition: .4s ease-in;
}
.burger_barC_On{
    width: 90%;
    height: 10%;
    background-color:black;
    border-radius: 5px;
    transform: translateY(-16px) rotate(-45deg);
    transition: .4s ease-in;
}
main{
    margin-top: 50px;
}
#hallo
{
    text-align: center;
    margin: 50px auto 30px auto;
    width: 100vw;
    font-size: 20px;
}
.information
{
    width:100vw;
    text-align: center;
    margin:auto;
    flex-direction: column;
}
.information p {
    padding: 10px;
    text-align:center
}
.left_s
{
    width: 90vw;
    background-color: aliceblue;
    margin: 50px auto;
}
.right_s
{
    width: 100vw;
    margin-bottom: 100px;
    margin: auto;
}
.img_happy
{
    width: 90vw;
    height: 50%;
    margin-left: auto;
    border-radius: 0px 0px 50px 50px;
}
.pleace
{
    width: 100vw;
    text-align: center;
    margin: 0px auto 300px auto;
    display: flex;
    height: 650px;
    flex-direction: column;
    place-items: center;
}
.img_ga
{
    width: 90vw;
    height: 300px;
    margin-left: auto;
    border-radius: 0px 0px 50px 50px;
}
.grid-container {
    
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 100%;
    height: 76%;
    background-color: aliceblue;
    margin: 0;
    justify-content: space-around;
    align-items: center;
}
.grid-item{
    padding: 45px;
    text-align: center;
    overflow-x: hidden;
}
.money
{
    display: flex;
    width: 100vw;
    margin: 50px auto;
    flex-direction: column;

}
.left_m
{
    width: 100vw;
    text-align: center;
    margin: 10px auto;
    background-color: aliceblue;
   
}
.right_m
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.img_price
{
    width: 100%;
    border-radius: 50px 50px 0px 0px;
}

.left_p
{
    width: 50vw;
    margin: auto;
    
}
.pri{
    margin-bottom: 50px;
    text-align: center;
}
.grid-container2 {
 
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    margin: auto;
}
.grid-item2 {
  font-size: 28px;
  text-align: center;
  margin: auto;
   
}
.people{
    width: 100vw;
    margin: auto;
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
footer{
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}
#btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
    font-size: 18px;
    border: none;
    background-color: gray;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    display: none;
  }
  #scroll
{
    position: absolute;
    visibility:hidden;
    top:240px;
}
#scroll2
{
    position: absolute;
    visibility:hidden;
    top:950px;
}
#scroll3
{
    position: absolute;
    visibility:hidden;
    top:1830px;
}
#scroll4
{
    position: absolute;
    visibility:hidden;
    top:2450px;
}
#scroll5
{
    position: absolute;
    visibility:hidden;
    top:3150px;
}
}