
.icon-water:before { content: '\e800'; } /* '' */
.icon-air:before { content: '\e801'; } /* '' */
.icon-newspaper:before { content: '\e802'; } /* '' */
.icon-toilet:before { content: '\e83b'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */